<%= form_for(trademark) do |f| %>
  <% if trademark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trademark.errors.count, "error") %> prohibited this trademark from being saved:</h2>

      <ul>
      <% trademark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>

  <%= f.hidden_field :character_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
