<p id="notice"><%= notice %></p>

<h1>Trademarks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Picture</th>
      <th>Character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trademarks.each do |trademark| %>
      <tr>
        <td><%= trademark.name %></td>
        <td><%= trademark.value %></td>
        <td><%= trademark.picture %></td>
        <td><%= trademark.character_id %></td>
        <td><%= link_to 'Show', trademark %></td>
        <td><%= link_to 'Edit', edit_trademark_path(trademark) %></td>
        <td><%= link_to 'Destroy', trademark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%=paginate @trademarks %>

