<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Picture:</strong>
<%= image_tag(@character.picture_url, width: 200) if @character.picture.present? %>
</p>

<h3>Trademarks</h3>
<% @trademarks.each do |trademark| %>
  <div>
    <strong>Name:<%= trademark.name %></strong>
    <br>
    <strong>Value:<%= trademark.value %></strong>
    <br>
    <strong>Picture:
    <%= image_tag(trademark.picture_url, width: 100) if trademark.picture.present? %></strong>
    <br>
    <p><%= link_to 'Delete', trademark_path(trademark), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%=paginate @trademarks%>

<h3>Create trademark</h3>
<%= render partial: 'trademarks/form', locals: { trademark: @trademark } %>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
